/*Police*/

@font-face {

    font-family: 'logo';

    src: url('DancingScript-Bold.ttf');

}


/*Body */

body
{
  background : black;
}


/*Logo */

.logo
{

    display: inline-block;
    margin : 0 auto;
}
h1
{
  display: block;
      font-family: 'logo', Arial, sans-serif;
      font-size: 3em;
      font-weight: normal;
      line-height:  70px;
      color: #FB7D00;
      margin-left: 25px;



}
h5
{
    display: block;
    font-family: 'logo', Arial, sans-serif;

    font-size: 25px;
    font-weight: normal;
    line-height:  70px;
    color: #FB7D00;
    text-align: center;

}

/*Navigation*/

/*Taille de la barre */
.navbar {
    position: relative;
    margin-bottom: 0px;
    border: 1px solid transparent;
    text-align: center;

  }
/*Couleur de la barre*/
.navbar-default {
    background-color: #080808;
    border-top: 1px solid #FB7D00;
    border-bottom: 1px solid #FB7D00;
}
/* Déplacement du text */
.navbar-nav > li > a {
    padding-top: 25px;
    padding-bottom: 15px;
}


.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom:15px;
    margin-right: auto;
    margin-left: auto;
    border: 2px solid #080808;
    border-radius: 5px;
    background-color : #080808;
}

.navbar-default .navbar-nav > li > a {
    color: #FB7D00;
    font-family: 'logo';
    font-size: 23px;
}

.navbar-default .navbar-nav > li > a:hover{
    color: white;
    background-color: transparent;;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    color: #FB7D00;
    background-color: #080808;
}

.dropdown-menu {
  background-color:#080808;
}

.dropdown-menu > li > a:focus, .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover
{
  color: #FB7D00;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #F9F4F4;
}

.dropdown-menu > li > a:hover {
    color: #FB7D00;
    text-decoration: none;
    background-color: transparent;
  }
.dropdown-menu > li > a
{
  color: #FB7D00;
  font-family: 'logo';
  font-size: 23px;
  text-align: center;
}

}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}
/* Nav */

/* Carrousel  */

#owl-demo .item img{
        display: block;
        width: 100%;
        height: auto;
}

#couleur
{
  background: white;
  padding-top: 15px;
  border: none
}

/*.col-sm-6*/
{
  height: 300px;
}

#event
{
  border-right: 1px solid #ff6600;
  height: 260px;

}



footer
{

 position: relative;;
 height: 250px;
 width: 100%;
 border-top: 1px solid #ff6600;
}

.logo1
{
    height: 150px;
    width:  150px;
    margin: 0 auto;
    position: relative;
    left: 95px;
}

#Slogan2
{
    text-align: center;
    padding-bottom: 0px;
    margin-top: 0px;
    color: #F8F8FF;
    font-family: 'Dancing Script';

}

#Slogan3
{
    text-align: center;
    font-size: 24px;
    color: #F8F8FF;
    font-family: 'Dancing Script';

}

ul
{
    text-align: center;
}


a
{

    font-size: 24px ;
    color: #F8F8FF;
    font-family: 'Dancing Script';

}

footer .footer
{
  margin-bottom : 60px;
}

a:focus, a:hover {
    color: #ff6600;
    text-decoration: none;
}

.col-sm-12
{
  border-top: 1px solid #ff6600;
  height: 260px;
  background-color:#080808;


}

.col-sm-6
{
  height: 300px;
}

#event
{
  border-right: 1px solid #ff6600;
  height: 260px;

}
